@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
  background-image: url(https://play.tailwindcss.com/img/beams.jpg); 
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif; 
  }
}